Modules/__pycache__
Modules/__pycache__/academic.cpython-38.pyc
Modules/__pycache__/books.cpython-38.pyc
Modules/__pycache__/calculator.cpython-38.pyc
Modules/__pycache__/colour.cpython-38.pyc
Modules/__pycache__/main2.cpython-38.pyc
Modules/__pycache__/misc.cpython-38.pyc
Modules/__pycache__/notes.cpython-38.pyc
Modules/__pycache__/quiz.cpython-38.pyc
Modules/__pycache__/quizframe.cpython-38.pyc
Modules/__pycache__/snake.cpython-38.pyc
Modules/__pycache__/ttt.cpython-38.pyc
Modules/__pycache__/videos.cpython-38.pyc
Modules/__pycache__/weather.cpython-38.pyc
